html{
    background-color: lightyellow;;
    text-align: center;
}
body {
    margin: 0;
    padding: 0;
}
p{
    font-family: verdana;
    font-size: 20px;
}
nav {
    background-color: white;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid yellow;
}
.name {
    color: black;
    font-size: 25px;
    padding: 0 30px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}
nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 25px;
    border: 10px solid white;
    background-color: lightblue;
    transition: all 0.3s;
}
nav li a:hover {
    padding: 20px 20px;
    border: 15px solid white;
}