html{
    background-color: lightgrey;
}
body {
    margin: 0;
    padding: 0;
}
p{
    font-size: 30px;
    width: 60%;
    padding-left: 7%;
    margin-top: 10%;
}
nav {
    background-color: black;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid orange;
}
.name {
    color: white;
    font-size: 30px;
    padding: 0 100px;
    font-family: 'Poppins', sans-serif;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 35px;
    text-decoration: none;
    font-size: 30px;
    border: 10px solid black;
    font-family: 'Poppins', sans-serif;
}
nav li a:hover {
    color: orange;
}
.top-bg {
    background-color: yellow;
    padding-bottom: 20px;
}
.bottom-bg {
    background-color: blue;
    min-height: 200px;
}
.content-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 5%;
    padding: 0 7%;
    margin-right: 5%;
}
.text-section p {
    margin: 0;
}
.image-section {
    flex: 0 0 30%;
}
.image-section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.3);
    display: block;
}
h1.welcome-message {
    font-size: 60px;
    color: darkblue;
    margin-top: 5%;
    text-align: left;
    padding-left: 7%;
    width: 50%;
}
img.portfolio-image:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
p.tips{
    font-size: 15px;
    color: green;
}
b.name{
    font-size: 50px;
    color:blue
}
h1.project-title{
    font-size: 50px;
    text-align: center;
    margin-top: 3%;
}